.box[data-v-8e6f55f5]{-webkit-user-select:none;user-select:none;aspect-ratio:1 / 1}.box[data-v-8e6f55f5]:hover{cursor:pointer;border:1px solid rgb(129,129,129)}.grid[data-v-470345db]{display:grid;grid-template-columns:repeat(3,1fr)}
